@font-face {
  font-family: "QuickSand";
  src: url("/assets/fonts/Quicksand-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;

  font-family: "QuickSand", system-ui, -apple-system, "Open Sans",
    "Helvetica Neue", sans-serif;
}

#root,
#__next {
  isolation: isolate;
}

main {
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container > div {
  height: 100vh;
}

.banner {
  padding: 10% 0;

  flex: 2 2 220px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/Gym-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  color: white;

  text-align: center;
}

.hero {
  padding: 30px 100px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: clamp(1.2rem, 2vw, 3rem);

  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset,
    rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset,
    rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px,
    rgba(255, 255, 255, 0.09) 0px 8px 4px,
    rgba(255, 255, 255, 0.09) 0px 16px 8px,
    rgba(255, 255, 255, 0.09) 0px 32px 16px;
}

.hero > h1 {
  margin-bottom: 50px;
}

#logo {
  width: 200px;
}

.form-input {
  flex: 3 3 420px;
  padding: 20% 20%;

  font-size: calc(12px + 0.1rem);
}

@media screen and (min-width: 480px) {
  .form-input {
    padding: 1.5rem;
  }
}

/* From Uiverse.io by shadowmurphy */
.input {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
}

.input:hover,
.input:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}
